.teams {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.card-time {
    background: #EFEFEF;
    border-radius: 1vw;
    height: 55vh;
    padding-bottom: 4vh
}
.card-module {
    display: flex;
    height: 8vh;
    background: #EFEFEF;
    border-radius: 1vw;
    /* margin-left: 5vw; */
    /* margin-right: 5vw; */
}
.nameheader {
    display: flex;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding-top: 2vh
}
.rightcp {
    margin-left: 74vw;
    display: inline-flex;
    align-items: center;
    position: relative;
    float: right;
}

.rightcp input[type=text] {
    border: 1px solid #ccc; 
    border-radius: 1vh;
    margin-right: 1vw;
    background-color: transparent;
    width: 13vw;
}

.rightcp .search-icon {
    position: absolute;
    display: inline-flex;
    right: 8vh;
    color: #ccc;
}

.rightcp .btn-sort {
    margin: auto;
    width: 26px;
    height: 25px;
    background-color: #8467FF;
    color: white;
    border-radius: 5px;
}
