.teams {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.card-time {
    background:
    /* linear-gradient(45deg, #5e38d0, #25ec749c); */
     #EFEFEF;
    border-radius: 1vw;
    /* height: 55vh; */
    padding-bottom: 4vh
}
.card-module {
    display: flex;
    height: 8vh;
    background: #EFEFEF;
    border-radius: 1vw;
    /* margin-left: 5vw; */
    /* margin-right: 5vw; */
}
.nameheader {
    display: flex;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding-top: 2vh
}
.rightcp {
    margin-left: 74vw;
    display: inline-flex;
    align-items: center;
    position: relative;
    float: right;
}

.rightcp input[type=text] {
    border: 1px solid #ccc; 
    border-radius: 1vh;
    margin-right: 1vw;
    background-color: transparent;
    width: 13vw;
}

.rightcp .search-icon {
    position: absolute;
    display: inline-flex;
    right: 8vh;
    color: #ccc;
}

.rightcp .btn-sort {
    margin: auto;
    width: 26px;
    height: 25px;
    background-color: #8467FF;
    color: white;
    border-radius: 5px;
}
.card-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4vh;
    background: #f8f8f8;
    border-radius: 1vw;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-top: 6vh;
    padding-bottom: 6vh
}
.glass-table .ag-row {
    background-color: white;

}